<section>
   <div class="hello">
        <h1 class="hello__title">Smart-service<h1/>
        <p class="hello__text">Smart-service - одна из самых популярных компаний, предлагающих огромное количество IT-сервисов для поддержки и обслуживания устройств, а также ПО своих клиентов. Компания на рынке уже более 10 лет и и имеет тысячи положительных отзывов.<p/>
        <p class="hello__loz">Пользуйтесь нашими услугами !<p/>
   <div/>
</section>
